@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body {
  background-color: #355c7d;
  background-image: url('https://i.imgur.com/Y84yBjD.png');
}

.App {
  background-image: url('https://i.imgur.com/Y84yBjD.png');

  background-color: #355c7d;
  text-align: center;
  color: #34222e;
}

main {
  /* background-color: #355c7d; */
  /* background-image: url('https://i.imgur.com/Y84yBjD.png'); */
  margin-top: 30px;
  padding: 50px 0;
  height: auto;
  min-height: calc(100vh - 70px);
}
.logoFont {
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  font-size: 60px;
  margin-bottom: -125px;
  color:#eb4d55;
  text-shadow: -1px 1px  white,
				  1px 1px  white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
}
.bottomLogo {
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  color: #eb4d55;
  text-shadow: -1px 1px  white,
                1px 1px  white,
                1px -1px 0 white,
                -1px -1px 0 white;
}
.footerLogo {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  font-size: 14px;
  color:#eb4d55;
  text-shadow: -1px 1px  #355c7d,
				  1px 1px  #355c7d,
				  1px -1px 0 #355c7d,
          -1px -1px 0 #355c7d;
}

footer {
  background-color: white;
  color: #333366;
  font-size: 16px;
  padding: 15px;
  bottom: 0;
}
.bigbox{
  background-image: url('https://i.imgur.com/Y84yBjD.png');
  background-color:#355c7d;
}
.profileNav{
  text-align: right;
}
.inputBox{
  margin: 10px;
}

.textBox{
  margin: 20px;
}

.menuNavBox {
  text-align: center;
}

.inputField {
  text-align: center;
  border: 2px solid #34222e;
  margin: 5px;
  border-radius: 20px 20px;
  padding: 15px;
  width: auto;
  background-color: white;
}

nav {
  text-align: left;
  display: inline;
  background-color: white;
  padding: 5px;
}
#homeNav {
  margin-left: 10px;
}

.logoName{
  text-align: right;
}
.linkNavPos{
  float: right;
}
.dropDownNav{
  border-radius: 50px 50px;
  background-color: #eb4d55;
  float: right;
  margin-right: 15px;
}

.navMenu{
  border-radius: 50px 50px;
  background-color: white;
  float: left;
  margin-right: 15px;
}

.dropDownIcon{
  background-color: white;
}
.navLogoPos{
  text-align-last: center; 
}

#spaceButton{
  margin-top: 5px;
  margin-right: 10px;
}

.navLogo{
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  margin: -.1vh;
  padding: -1vw;
  color:#eb4d55;
  text-shadow: -1px 1px  #355c7d,
				  1px 1px  #355c7d,
				  1px -1px 0 #355c7d,
          -1px -1px 0 #355c7d;
}

#imageHome{
  background-color: #eb4d55;
  border: 2px solid white;
  border-radius: 50px 50px;
  padding: 10px;
  width: 400px;
}

.buttonNav {
  display: inline;
  color: #333366;
  margin-right: 15px;
}
.dialogbox{
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: Black;
}